<!DOCTYPE html>
<html>
<head>
  <title>ポケモン検索</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>
	
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>ポケモン検索</h1>
  <form method="POST">
	<input type="text" id="tags" name="name" placeholder="ポケモンの名前">
	<input type="submit" value="送信">
	<script>
$( function() {
	var availableTags = [
		{% for language in languages %}
			"{{language}}",
		{% endfor %}
	];
	$( "#tags" ).autocomplete({
	source: availableTags
	});
} );
</script>
</form>
<!-- <div style="position:absolute; top:30px; left:130px">  -->
<img src={{image_path}} alt='出力結果' title='ポケモンデータ'>
</body>
</html>
